<style>
  .list-unstyled {
    position: relative
  }

  .notification {
    position: absolute;
    bottom: 8px;
    right: 208px;
    background: #d2232a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    text-align: center;
  }

  .animating {
    animation: animate 1s cubic-bezier(0, 1, 1, 0);
  }

  @keyframes animate {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.7);
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
</style>

<script src="/javascripts/socket.io.js"></script>
<% include ../partials/javascript.ejs %>
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
      <div class="container">
        <div class="header-top-inner">
          <div class="cnt-account">
            <ul class="list-unstyled">
              <% if (user) { %>
              <li><a href="/messages/"><i class="icon fa fa-inbox"></i>Messages <% if (notificount < 1) { %> <span class="notification" style="visibility: hidden"><%=notificount%> <% } else { %><span class="notification" style="visibility: visible"><%=notificount%><% } %></span></a></li>
              <li><a href="/manageoffers"><i class="icon fa fa-shopping-cart"></i>My Offers</a></li>
              <li><a href="/incomingoffers"><i class="icon fa fa-shopping-cart"></i>Offers Received</a></li>
              <% } else { %>
              <li><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
              <% } %>
            </ul>
          </div>
          <% if (user) { %>
          <!-- /.cnt-account -->
          <div class="cnt-block">
              <ul class="list-unstyled list-inline">
                <li class="dropdown dropdown-small"> <a href="/" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">My Account </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/">Listing</a></li>
                    <li><a href="/editprofile">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <% } %>
          <!-- /.cnt-cart -->
          <div class="clearfix"></div>
        </div>
        <!-- /.header-top-inner --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.header-top --> 
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo"> <a href="/"> <img src="/images/logo.png" alt="logo"> </a> </div>
            <!-- /.logo --> 
            <!-- ============================================================= LOGO : END ============================================================= --> </div>
          <!-- /.logo-holder -->
          
          <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
            <!-- /.contact-row --> 
            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
              <form>
                <div class="control-group">
                        <ul class="categories-filter" style="width: 100%;">
                            <li class="dropdown" style="text-align: center; color:#DDDDDD;">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/">Categories<b class="caret"></b></a>
                              <ul class="dropdown-menu" style="width: 100%; text-align: center;" role="menu">
                                <li><a href="/clothing">Clothing</a></li>
                                <li><a href="/shoes">Shoes</a></li>
                                <li><a href="/watches">Watches</a></li>
                                <li><a href="/jewellery">Jewellery</a></li>
                              </ul>
                            </li>
                          </ul>
                </div>
              </form>
            </div>
            <!-- /.search-area --> 
            <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
          <!-- /.top-search-holder -->
        </div>
        <!-- /.row --> 
        
      </div>
      <!-- /.container --> 
      
    </div>
    <!-- /.main-header --> 
    <p>All prices stated are in sgd</p>
    <!-- /.header-nav --> 
    <!-- ============================================== NAVBAR : END ============================================== --> 
    
  </header>

  <script>
    var socket = io();
    
    var counterValue = parseInt($('.notification').html()); // Get the current bubble value

    <% if (user) { %>
      socket.emit('myUser', '<%=user.user_id%>');
    
      socket.on('notification', function() {
        if ((counterValue == '') || (counterValue < 1)) {
          counterValue = 0;
        }
        increaseCounter()
        console.log('Counter up')
      })

      function removeAnimation() {
        setTimeout(function () {
          $('.notification').removeClass('animating')
        }, 500);
      }

      function increaseCounter() {
        counterValue++; // increment
        $('.notification').css("visibility", "visible");
        $('.notification').html(counterValue).addClass('animating'); // animate it
        removeAnimation(); // remove CSS animating class 
      }
    <% } %>
  </script>
