<style>
  .list-unstyled {
    position: relative
  }

  .notification {
    position: absolute;
    bottom: 8px;
    right: 294px;
    background: #d2232a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    text-align: center;
  }

  .animating {
    animation: animate 1s cubic-bezier(0, 1, 1, 0);
  }

  @keyframes animate {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.7);
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
</style>

<script src="/javascripts/socket.io.js"></script>
<% include ../partials/javascript.ejs %>
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
      <div class="container">
        <div class="header-top-inner">
          <div class="cnt-account">
            <ul class="list-unstyled">
              <% if (user) { %>
              <li><a href="/messages/"><i class="icon fa fa-inbox"></i>Messages <% if (notificount < 1) { %> <span class="notification" style="visibility: hidden"><%=notificount%> <% } else { %><span class="notification" style="visibility: visible"><%=notificount%><% } %></span></a></li>
              <li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>
              <li><a href="/manageoffers"><i class="icon fa fa-shopping-cart"></i>My Offers</a></li>
              <li><a href="/incomingoffers"><i class="icon fa fa-shopping-cart"></i>Offers Received</a></li>
              <% } else { %>
              <li><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
              <% } %>
            </ul>
          </div>
          <% if (user) { %>
          <!-- /.cnt-account -->
          <div class="cnt-block">
              <ul class="list-unstyled list-inline">
                <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">My Account </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/">Listing</a></li>
                    <li><a href="/editprofile">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <% } %>
          <!-- /.cnt-cart -->
          <div class="clearfix"></div>
        </div>
        <!-- /.header-top-inner --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.header-top --> 
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo"> <a href="/"> <img src="/images/logo.png" alt="logo"> </a> </div>
            <!-- /.logo --> 
            <!-- ============================================================= LOGO : END ============================================================= --> </div>
          <!-- /.logo-holder -->
          
          <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
            <!-- /.contact-row --> 
            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
              <form>
                <div class="control-group">
                        <ul class="categories-filter animate-dropdown">
                            <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/">Categories<b class="caret"></b></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="/clothing">Clothing</a></li>
                                <li><a href="/shoes">Shoes</a></li>
                                <li><a href="/watches">Watches</a></li>
                                <li><a href="/jewellery">Jewellery</a></li>
                              </ul>
                            </li>
                          </ul>
                  <input class="search-field" placeholder="Search here..." />
                  <a class="search-button" href="#" ></a>
                </div>
              </form>
            </div>
            <!-- /.search-area --> 
            <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
          <!-- /.top-search-holder -->
          
          <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row"> 
            <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
            
            <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
              <div class="items-cart-inner">
                <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                <div class="basket-item-count"><span class="count">2</span></div>
                <div class="total-price-basket"> <span class="lbl">cart -</span> <span class="total-price"> <span class="sign">$</span><span class="value">600.00</span> </span> </div>
              </div>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="cart-item product-summary">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="image"> <a href="detail.html"><img src="/images/cart.jpg" alt=""></a> </div>
                      </div>
                      <div class="col-xs-7">
                        <h3 class="name"><a href="index.php?page-detail">Simple Product</a></h3>
                        <div class="price">$600.00</div>
                      </div>
                      <div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
                    </div>
                  </div>
                  <!-- /.cart-item -->
                  <div class="clearfix"></div>
                  <hr>
                  <div class="clearfix cart-total">
                    <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>$600.00</span> </div>
                    <div class="clearfix"></div>
                    <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a> </div>
                  <!-- /.cart-total--> 
                  
                </li>
              </ul>
              <!-- /.dropdown-menu--> 
            </div>
            <!-- /.dropdown-cart --> 
            
            <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
          <!-- /.top-cart-row --> 
        </div>
        <!-- /.row --> 
        
      </div>
      <!-- /.container --> 
      
    </div>
    <!-- /.main-header --> 
    
    <!-- /.header-nav --> 
    <!-- ============================================== NAVBAR : END ============================================== --> 
    
  </header>

  <script>
    var socket = io();
    
    var counterValue = parseInt($('.notification').html()); // Get the current bubble value

    <% if (user) { %>
      socket.emit('myUser', '<%=user.user_id%>');
    
      socket.on('notification', function() {
        if ((counterValue == '') || (counterValue < 1)) {
          counterValue = 0;
        }
        increaseCounter()
        console.log('Counter up')
      })

      function removeAnimation() {
        setTimeout(function () {
          $('.notification').removeClass('animating')
        }, 500);
      }

      function increaseCounter() {
        counterValue++; // increment
        $('.notification').css("visibility", "visible");
        $('.notification').html(counterValue).addClass('animating'); // animate it
        removeAnimation(); // remove CSS animating class 
      }
    <% } %>
  </script>
