<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/javascripts/socket.io.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>


    <script>
        var socket = io();
    </script>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
    
</html>